@using AyazNew.Service

<html lang="tr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#3ed2a7">
    <meta name="revisit-after" content="2 Days" />
    <link rel="shortcut icon" href="./favicon.png" />
    <meta name="revisit-after" content="2 Days" />
    <meta name="author" content="Ayaz Promosyon" />
    <meta name="robots" content="follow" />
    <meta name="robots" content="all" />
    <meta charset="utf-8" />
    <title>Ayaz Promosyon - @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.AllDesc" />
    <meta name="keywords" content="oto paspas,promosyon,kartvizit,yeni,oto kokusu,ürünler,ayaz,öne çıkarılan">
    <link rel="stylesheet" href="https://use.typekit.net/{YOUR_API_KEY}.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendors/liquid-icon/liquid-icon.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/theme-vendors.min.css" />
    <link rel="stylesheet" href="~/assets/css/theme-shop.min.css" />
    <link rel="stylesheet" href="~/assets/css/theme.min.css" />
    <link rel="stylesheet" href="~/assets/css/themes/shop.css" />

    <!-- Head Libs -->
    <script async src="assets/vendors/modernizr.min.js"></script>

</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
   @{
       var baseController = ViewContext.Controller as AyazNew.Controllers.BaseController;
   }
    <header class="main-header lqd-main-header-default bg-gradient-black-transparent-bt" data-react-to-megamenu="true" data-sticky-header="true" data-sticky-options='{ "stickyTrigger": "first-section" }'>

        <div class="secondarybar-wrap">
            <div class="secondarybar-container container-fluid">
                <div class="secondarybar">
                    <div class="secondarybar-row row align-items-center">

                        <div class="col">

                            <div class="header-module">
                                <a href="@Url.Action("Home","Index")" class="btn btn-naked text-uppercase">
                                    <span>
                                        <span class="btn-txt text-warning"><b>YENİ ÜRÜNLER SATIŞTA!</b></span>
                                        <span class="btn-icon">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <div class="ld-module-v-sep">
                                    <span class="ld-v-sep-inner"></span>
                                </div><!-- /.ld-module-v-sep -->
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <a href="https://api.whatsapp.com/send?phone=905321517566" class="btn btn-naked text-uppercase btn-icon-left font-size-14">
                                    <span>
                                        <span class="btn-txt text-warning glyphicon-bold"><b>+90 532 151 75 66</b></span>
                                        <span class="btn-icon text-primary font-size-16 mr-3">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                    </span>
                                </a>
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <div class="ld-module-v-sep">
                                    <span class="ld-v-sep-inner"></span>
                                </div><!-- /.ld-module-v-sep -->
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <p class="font-weight-medium text-warning font-size-15 text-transform-none ltr-sp-0"><b>%50'YE VARAN İNDİRİMLER</b></p>
                            </div><!-- /.header-module -->

                        </div><!-- /.col -->

                        <div class="col text-right">

                            <!--<div class="header-module">
                                <div class="ld-dropdown-menu ld-dropdown-menu-underlined">
                                    <span class="ld-module-trigger collapsed" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#shop-account-dropdown" aria-controls="shop-account-dropdown" aria-expanded="false">
                                        <span class="ld-module-trigger-txt">TANITIM<i class="fa fa-angle-down"></i></span>
                                    </span>
                                    <div class="ld-module-dropdown left collapse" id="shop-account-dropdown" aria-expanded="false" role="list">
                                        <div class="ld-dropdown-menu-content">
                                            <ul>
                                                <li><a href="#" target="_blank">Register</a></li>
                                                <li><a href="#" target="_blank">Login</a></li>
                                            </ul>
                                        </div>-->
                            <!-- /.ld-dropdown-menu-content -->
                            <!--</div>--><!-- /.ld-module-dropdown -->
                            <!--</div>--><!-- /.ld-dropdown-menu -->
                            <!--</div>--><!-- /.header-module -->

                            <div class="header-module">
                                <div class="ld-module-v-sep">
                                    <span class="ld-v-sep-inner"></span>
                                </div><!-- /.ld-module-v-sep -->
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <a href="@Url.Action("Anasayfa","Magaza")" class="btn btn-naked text-uppercase">
                                    <span>
                                        <span class="btn-txt text-warning"><b>ANASAYFAYA DÖN</b></span>
                                    </span>
                                </a>
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <div class="ld-module-v-sep">
                                    <span class="ld-v-sep-inner"></span>
                                </div><!-- /.ld-module-v-sep -->
                            </div><!-- /.header-module -->

                            <div class="header-module">
                                <ul class="social-icon social-icon-md">
                                    <li><a href="https://instagram.com/ayaz.promosyon" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div><!-- /.header-module -->

                        </div><!-- /.col text-right -->

                    </div><!-- /.secondarybar-row -->
                </div><!-- /.secondarybar -->
            </div><!-- /.secondarybar-container -->
        </div><!-- /.secondarybar-wrap -->

        <div class="mainbar-wrap">
            <div class="megamenu-hover-bg"></div><!-- /.megamenu-hover-bg -->
            <div class="container-fluid mainbar-container">
                <div class="mainbar">
                    <div class="row mainbar-row align-items-lg-stretch">

                        <div class="col">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="" rel="home">
                                    <span class="navbar-brand-inner">
                                        <img class="logo-dark" src="~/Content/img/Logo.png" alt="Ayaz Promosyon Logo">
                                        <img class="logo-light" src="~/Content/img/Logo.png" alt="Ayaz Promosyon Logo">
                                        <img class="logo-sticky" src="~/Content/img/Logo.png" alt="Ayaz Promosyon Logo">
                                        <img class="mobile-logo-default" src="~/Content/img/Logo.png" alt="Ayaz Promosyon Logo">
                                        <img class="logo-default" src="~/Content/img/Logo.png" alt="Ayaz Promosyon Logo">
                                    </span>
                                </a>
                                <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
                                    <span class="sr-only">Genişlet</span>
                                    <span class="bars">
                                        <span class="bar"></span>
                                        <span class="bar"></span>
                                        <span class="bar"></span>
                                    </span>
                                </button>
                            </div><!-- /.navbar-header -->
                        </div><!-- /.col -->

                        <div class="col">

                            <div class="collapse navbar-collapse" id="main-header-collapse">

                                <ul id="primary-nav" class="main-nav nav align-items-lg-stretch justify-content-lg-center" data-submenu-options='{ "toggleType":"fade", "handler":"mouse-in-out" }'>

                                    <li>
                                        <a href="@Url.Action("Index","Home")">
                                            <span class="link-icon"></span>
                                            <span class="link-txt">
                                                <span class="link-ext"></span>
                                                <span class="txt">
                                                    Anasayfa
                                                    <span class="submenu-expander">
                                                        <i class="fa fa-angle-down"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="link-icon"></span>
                                            <span class="link-txt">
                                                <span class="link-ext"></span>
                                                <span class="txt">
                                                    Hakkımızda
                                                    <span class="submenu-expander">
                                                        <i class="fa fa-angle-down"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children megamenu columns-3" data-bg-color="rgb(255, 255, 255)" data-megamenu-bg-scheme="light">
                                        <a style="cursor:pointer">
                                            <span class="link-icon"></span>
                                            <span class="link-txt">
                                                <span class="link-ext"></span>
                                                <span class="txt">
                                                    Kategoriler
                                                    <span class="submenu-expander">
                                                        <i class="fa fa-angle-down"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                        <ul class="nav-item-children">
                                            <li>
                                                <div class="container megamenu-container">
                                                    <div class="vc_row row megamenu-inner-row bg-white p-0">
                                                        <div class="container ld-container">
                                                            <div class="row ld-row">

                                                                @{
                                                                    int catCount = baseController.GetCategories().Count;
                                                                    int column = 0;
                                                                    int counter = 0;
                                                                }


                                                                @if (column == 0)
                                                                {
                                                                    <div class="megamenu-column col-md-3 py-md-3 px-md-4">
                                                                        <div class="megamenu-column-inner pl-md-4 py-md-4">
                                                                            <h3 class="megamenu-heading font-size-12 text-uppercase ltr-sp-175 mb-3">Kategoriler</h3>
                                                                            <ul class="lqd-custom-menu reset-ul font-size-15 lh-2 ltr-sp-025 font-weight-medium">
                                                                                @foreach (var item in baseController.GetCategories())
                                                                                {
                                                                                    if (counter < 8)
                                                                                    {
                                                                                        <li>
                                                                                            <a href="@Url.Action("Kategori","Magaza", new {@kategori = item.Id,sayfa=1,catName=SeoURL.AdresDuzenle(item.CategoryName) })">
                                                                                                <i class="fa fa-angle-right mr-2"></i>@item.CategoryName
                                                                                            </a>
                                                                                        </li>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        counter = 0;
                                                                                        column++;
                                                                                        break;
                                                                                    }
                                                                                    counter++;
                                                                                }
                                                                            </ul>
                                                                        </div><!-- /.megamenu-column-inner -->
                                                                    </div><!-- /.megamenu-column -->

                                                                }
                                                                @if (column == 1)
                                                                {
                                                                    <div class="megamenu-column col-md-3 py-md-3 px-md-4">
                                                                        <div class="megamenu-column-inner pl-md-4 py-md-4">
                                                                            <h3 class="megamenu-heading font-size-12 text-uppercase ltr-sp-175 mb-3"></h3>
                                                                            <ul class="lqd-custom-menu reset-ul font-size-15 lh-2 ltr-sp-025 font-weight-medium">
                                                                                @foreach (var item in baseController.GetCategories())
                                                                                {
                                                                                    if (counter >= 8 && counter < 16)
                                                                                    {
                                                                                        <li>
                                                                                            <a href="@Url.Action("Kategori","Magaza", new {@kategori = item.Id,sayfa=1,catName=SeoURL.AdresDuzenle(item.CategoryName) })"><i class="fa fa-angle-right mr-2"></i>@item.CategoryName</a>
                                                                                        </li>
                                                                                    }
                                                                                    else if (counter >= 16)
                                                                                    {
                                                                                        counter = 0;
                                                                                        column++;
                                                                                        break;
                                                                                    }
                                                                                    counter++;
                                                                                }
                                                                            </ul>
                                                                        </div><!-- /.megamenu-column-inner -->
                                                                    </div><!-- /.megamenu-column -->

                                                                }




                                                                <div class="megamenu-column col-md-3" style="background-color: #f0f0f0;">
                                                                    <div class="megamenu-column-inner py-md-4 px-md-4">
                                                                        <h3 class="font-size-30 lh-115">Birbirinden özel ürünler Ayaz Promosyonda!</h3>
                                                                        <p class="mb-md-6">
                                                                            <span class="font-size-15 lh-175 text-fade-dark-07">Çeşitli Matbaa Ürünleri</span><br>
                                                                            <span class="font-size-15 lh-175 text-fade-dark-07">Hediyelik Eşyalar</span><br>
                                                                            <span class="font-size-15 lh-175 text-fade-dark-07">Ve Daha Niceleri</span>
                                                                        </p>
                                                                        <a href="@Url.Action("Urunler","Magaza",new {sayfa=1 })" class="btn btn-solid text-uppercase btn-md border-none lh-2 font-weight-bold ltr-sp-2">
                                                                            <span>
                                                                                <span class="btn-txt">Tüm Ürünler</span>
                                                                                <span class="btn-icon">
                                                                                    <i class="fa fa-angle-right"></i>
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div><!-- /.megamenu-column-inner -->
                                                                </div><!-- /.megamenu-column -->

                                                            </div><!-- /.row ld-row -->
                                                        </div><!-- /.container ld-container -->
                                                    </div><!-- /.vc_row -->
                                                </div><!-- /.megamenu-container -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="megamenu-item-active">
                                        <a href="@Url.Action("Urunler","Magaza",new {sayfa=1 })">
                                            <span class="link-icon"></span>
                                            <span class="link-txt">
                                                <span class="link-ext"></span>
                                                <span class="txt">
                                                    Tüm Ürünler
                                                    <span class="submenu-expander">
                                                        <i class="fa fa-angle-down"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                        <ul class="nav-item-children">
                                            <li>
                                                <a href="shop-product-simple.html">
                                                    <span class="link-icon"></span>
                                                    <span class="link-txt">
                                                        <span class="link-ext"></span>
                                                        <span class="txt">
                                                            Simple Product
                                                            <span class="submenu-expander">
                                                                <i class="fa fa-angle-down"></i>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="link-icon"></span>
                                            <span class="link-txt">
                                                <span class="link-ext"></span>
                                                <span class="txt text-success">
                                                    Whatsapp Hattı
                                                    <span class="submenu-expander">
                                                        <i class="fa fa-angle-down"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                </ul><!-- /#primary-nav  -->

                            </div><!-- /#main-header-collapse -->

                        </div><!-- /.col -->

                        <div class="col text-right">

                            <div class="header-module">
                                <div class="ld-dropdown-menu ld-dropdown-yenu-underlined">
                                    <span class="ld-module-trigger collapsed font-size-13 text-uppercase font-weight-bold ltr-sp-175" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#shop-lang-dropdown" aria-controls="shop-lang-dropdown" aria-expanded="false">
                                        <span class="ld-module-trigger-txt">TR<i class="fa fa-angle-down"></i></span>
                                    </span>
                                </div><!-- /.ld-dropdown-menu -->
                            </div><!-- /.header-module -->


                            <div class="header-module">
                                <div class="ld-module-search">
                                    <span class="ld-module-trigger" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#search-1" aria-controls="search-1" aria-expanded="false">
                                        <span class="ld-module-trigger-icon">
                                            <i class="icon-ld-search"></i>
                                        </span>
                                    </span>
                                    <div role="search" class="ld-module-dropdown collapse" id="search-1" aria-expanded="false">
                                        <div class="ld-search-form-container">

                                            
                                                <form role="search" method="get" action="/urunara" class="ld-search-form">
                                                    <input type="search" placeholder="Aramaya başla" value="" name="q">
                                                        <span role="search" class="input-icon" data-ld-toggle="true" data-toggle="collapse" data-target="#search-1"
                                                              aria-controls="search-1" aria-expanded="false"><i class="icon-ld-search"></i></span>

                                                   
                                                </form>
                                            


                                        </div>
                                    </div><!-- /.ld-module-dropdown -->
                                </div><!-- /.ld-module-search -->
                            </div><!-- /.header-module -->

                        </div><!-- /.col -->

                    </div><!-- /.mainbar-row -->
                </div><!-- /.mainbar -->
            </div><!-- /.mainbar-container -->
        </div><!-- /.mainbar-wrap -->
    </header>
    @RenderBody()
    <footer class="main-footer pt-60 pb-60 bg-gradient-black-transparent-tb">

        <section>

            <div class="container">
                <div class="row">

                    <div class="lqd-column col-md-5 col-sm-12">

                        <figure class="mb-4">
                            <img src="~/Content/img/Logo.png" alt="Ayaz Promosyon Logo">
                        </figure>
                        <p>Müşteri memnuniyeti odaklı olarak 1999 Yılından beri promosyon ürünleri imal ediyoruz. Her koşulda kusursuz tasarım ve hızlı teslimat garantisi veriyoruz.</p>
                        <ul class="social-icon scheme-dark social-icon-lg mb-25">
                            <li><a href="https://instagram.com/ayaz.promosyon" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>


                    </div><!-- /.col-md-3 -->

                    <div class="lqd-column col-md-3 col-sm-4 text-center">

                        <h3 class="widget-title">İletişim</h3>
                        <ul class="lqd-custom-menu reset-ul font-size-15">
                            <li class="mb-2"><a href="https://api.whatsapp.com/send?phone=905321517566">Whatsapp</a></li>
                            <li class="mb-2"><a href="https://api.whatsapp.com/send?phone=905321517566">+90 532 151 75 66</a></li>
                            <li class="mb-2"><a href="https://instagram.com/ayaz.promosyon">Instagram</a></li>
                            <li class="mb-2"><a href="https://instagram.com/ayaz.promosyon">/ayaz.promosyon</a></li>
                            <li class="mb-2"><a href="#">0212 578 32 47</a></li>
                        </ul>

                    </div><!-- /.lqd-column col-md-2 col-sm-6 -->

                    <div class="lqd-column col-md-2 col-sm-4 text-center">

                        <h3 class="widget-title">En Çok Aranan</h3>
                        <ul class="lqd-custom-menu reset-ul font-size-15">
                           

                                <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 2, sayfa = 1, catName = SeoURL.AdresDuzenle("Oto Kokusu") })">Oto Kokusu</a></li>
                                <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 8, sayfa = 1, catName = SeoURL.AdresDuzenle("Broşür") })">Broşür</a></li>
                                <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 3,sayfa = 1, catName = SeoURL.AdresDuzenle("Kupa Bardak") })">Kupa Bardak</a></li>
                                <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 6, sayfa = 1, catName = SeoURL.AdresDuzenle("Magnet") })">Magnet</a></li>
                                <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 10, sayfa = 1, catName = SeoURL.AdresDuzenle("Anahtarlık") })">Anahtarlık</a></li>
                            
                        </ul>

                    </div><!-- /.lqd-column col-md-2 col-sm-6 -->

                    <div class="lqd-column col-md-2 col-sm-4 text-center">

                        <h3 class="widget-title">Göz Atın</h3>
                        <ul class="lqd-custom-menu reset-ul font-size-15">
                            <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 7, sayfa = 1, catName = SeoURL.AdresDuzenle("Kartvizit") })">Kartvizit</a></li>
                            <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 13, sayfa = 1, catName = SeoURL.AdresDuzenle("Masa Bayrakları") })">Masa Bayrakları</a></li>
                            <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 4, sayfa = 1, catName = SeoURL.AdresDuzenle("Baskılı Çakmak") })">Baskılı Çakmak</a></li>
                            <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 11, sayfa = 1, catName = SeoURL.AdresDuzenle("Oto Paspas") })">Oto Paspas</a></li>
                            <li class="mb-2"><a href="@Url.Action("Kategori","Magaza",new { kategori = 9, sayfa = 1, catName = SeoURL.AdresDuzenle("Baskılı Kalem") })">Baskılı Kalem</a></li>
                        </ul>

                    </div><!-- /.lqd-column col-md-2 col-sm-6 -->

                </div><!-- /.row -->
            </div><!-- /.container -->

        </section>

    </footer><!-- /.main-footer -->
    <script src="~/assets/vendors/jquery.min.js"></script>
    <script src="~/assets/js/theme-vendors.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/js/liquidAjaxMailchimp.min.js"></script>

</body>
</html>